:root{
    /* Color */
    --primaryColor : #000000;
    --secondaryColor : #fff;
}
*{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: #0c0d1aee;
}
p{
    color: rgb(0, 0, 0);
}
.heading{
   
    font-size: 24px;
    font-weight: 700;
}
.subheading{
    font-weight: 300;
}
.nav-link{
    font-family: var(--headingFont);
    color: #fff;
}
.icons-home i{
    font-size: 1.8rem;
    color: var(--secondaryColor);
}
.carousel-item{
    height: 100vh;
}

.carousel-item img{
    height: 100vh;
    object-fit: cover;
}



/* Produk*/

section.new-arrivals {
	background-color: #000000;
	min-height: 762px;
}

.text-arrivals {
	padding: 100px 0 60px 0;
	
}


.text-arrivals .title h3 {
	font-weight: 600;
	letter-spacing: 2px;
	font-size: 32px;
	color: #ffffff;
}

.text-arrivals .title h3 span {
	color: #8bbfd5;
}





section.products-section {
	background: linear-gradient(180deg, rgb(0, 50, 71) 0%, rgba(28, 71, 89, 0.25) 100%);
	min-height: 573px;
}

section.products-section .text-products {
	padding: 70px 0 60px 0;
}

section .title-product h2{
	font-size: 32px;
	font-weight: 700;
	letter-spacing: 2px;
	color: #ffffff;
}

.text-products .text-show-all a {
	display: inline-block;
	text-decoration: none;
	color: rgba(255, 255, 255, 76%);
	font-size: 19px;
}


section .products {
	padding-bottom: 70px;
}

section .product > div{
	border-radius: 10px;
	box-shadow: 0px 12px 24px rgba(255, 255, 255, 0.29);
}

section .product .desc-product {
	text-align: center;
	padding: 12px 50px;
}

.product .desc-product a {
	color: inherit;
}

.product .desc-product p:first-child {
	font-size: 18px;
	letter-spacing: 1px;
	font-weight: normal;
	margin-bottom: 10px;
}

.product .desc-product p:last-child {
	font-size: 15px;
	font-weight: 700;
	letter-spacing: .8px;
	margin-bottom: 10px;
	color: #1C4759;
}
 .stock-count{
	height:10px;
 }

.nav-icons{
	margin-top: 12px;
	margin-left: 10px;
	margin-right: 10px;
}


/* SEARCH */
.search-div{
	width:100%;
	min-height: 100vh;
	padding: 5px;
	background-image: linear-gradient(rgba(0,8,51,0.9),rgba(0,8,52,0.9));
	background-position: center;
	background-size: cover;
	display: flex;
	align-items: center;
}




/* FOOTER */

footer {
	min-height: 381px;
	background-color: #000000;
	padding: 90px 0 20px 0;
}


footer .footer-brand h1{
	font-size: 36px;
	font-weight: 600;
	letter-spacing: .5px;
	color: #ffffff;
}


footer .footer-item-content h3 {
	color: #ffffff;
	font-size: 28px;
	font-weight: 600;
	text-align: left;
	margin-bottom: 20px;
}

footer .footer-item-content > p{
	font-family: 'Noto Sans JP', sans-serif;
	color: #ffffff;
	font-size: 16px;
	text-align: left;
}

footer .footer-item-content a.ig-icon {
	display: block;
	width: 23px;
	margin-left: 27px;
}

.copyright-content p {
	letter-spacing: 1px;
	color: #ffffff;
}
